<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>

<title>
    {%  block title %}
    	Listado de personas
    {%  endblock title %}
</title>

</head>
<body>

    {%  block contenido %}

    {%  endblock contenido %}

</body>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</html>